force-app/main/default/flows/Create_property_KI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>GeocodeAddress</name>
        <label>Geocode address</label>
        <locationX>1152</locationX>
        <locationY>1240</locationY>
        <actionName>GeocodingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_a_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Geo</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>property_City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>property_Address</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GeocodingService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Fill_lead</name>
        <label>Fill lead</label>
        <locationX>675</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>Lead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_ConversationData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Property</name>
        <label>Fill property</label>
        <locationX>857</locationX>
        <locationY>1841</locationY>
        <assignmentItems>
            <assignToReference>property.Location__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeocodeAddress.lat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Location__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeocodeAddress.lon</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PreMarket</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Property_OwnerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asking_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Beds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Beds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_property_ID</name>
        <label>Populate property ID</label>
        <locationX>710</locationX>
        <locationY>1961</locationY>
        <assignmentItems>
            <assignToReference>propertyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_default_to_lead</name>
        <label>Set default to lead</label>
        <locationX>1083</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>Lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner Referral</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_default_to_lead_0</name>
        <label>Set default to lead</label>
        <locationX>883</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>Lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSorce</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Beds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Beds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_found_contact</name>
        <label>Set found contact</label>
        <locationX>674</locationX>
        <locationY>1744</locationY>
        <assignmentItems>
            <assignToReference>Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_a_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_a_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_data_to_contact</name>
        <label>Set data from lead</label>
        <locationX>1152</locationX>
        <locationY>1108</locationY>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GeocodeAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_id</name>
        <label>Set lead id</label>
        <locationX>1082</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_ConversationData</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CoiceLeadStatus</name>
        <choiceText>Открыт - Не заключен&lt;p&gt;В работе - Заключен&lt;/p&gt;&lt;p&gt;Закрыт - Заключен&lt;/p&gt;&lt;p&gt;Закрыт - Не заключен&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Открыт - Не заключен</stringValue>
        </value>
    </choices>
    <choices>
        <name>UniqueName</name>
        <choiceText>Открыт - Не заключен</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Открыт - Не заключен</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Address_filled</name>
        <label>Address filled</label>
        <locationX>876</locationX>
        <locationY>1107</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_lead_srcrean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>property_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_lead_data_to_contact</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_right_or_not</name>
        <label>Contact right or not</label>
        <locationX>888</locationX>
        <locationY>1666</locationY>
        <defaultConnector>
            <targetReference>Set_found_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Right</defaultConnectorLabel>
        <rules>
            <name>Wrong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Right_Contact.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_account</targetReference>
            </connector>
            <label>Wrong</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_contact_or_not</name>
        <label>Found contact or not</label>
        <locationX>882</locationX>
        <locationY>1378</locationY>
        <defaultConnector>
            <targetReference>Found_contact_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_a_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_account</targetReference>
            </connector>
            <label>Contact not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_exists</name>
        <label>Lead exists</label>
        <locationX>874</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Set_default_to_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_lead</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LeadSorces</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadStatuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create property {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Обработать лид</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_account</name>
        <label>Create account</label>
        <locationX>1146</locationX>
        <locationY>1571</locationY>
        <assignRecordIdToReference>Account2</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Account_not_created_screen_message_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1146</locationX>
        <locationY>1744</locationY>
        <connector>
            <targetReference>Fill_Property</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Contact_not_found_screen_message</targetReference>
        </faultConnector>
        <inputReference>Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_lead</name>
        <label>Create lead</label>
        <locationX>1084</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Set_lead_id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_not_created_screen_message_0_0</targetReference>
        </faultConnector>
        <inputReference>Lead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_opportunity</name>
        <label>Create opportunity</label>
        <locationX>575</locationX>
        <locationY>1963</locationY>
        <assignRecordIdToReference>opportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_not_found_screen_message_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>property.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>property.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Property</name>
        <label>Create Property</label>
        <locationX>856</locationX>
        <locationY>1965</locationY>
        <connector>
            <targetReference>Populate_property_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Property_not_found_screen_message_0</targetReference>
        </faultConnector>
        <inputReference>property</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_a_Contact</name>
        <label>Find a Contact</label>
        <locationX>1150</locationX>
        <locationY>1369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_contact_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_lead</name>
        <label>Find lead</label>
        <locationX>674</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>884</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Address_filled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_not_updated_screen_message_0_0_0</targetReference>
        </faultConnector>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_not_created_screen_message_0</name>
        <label>Аккаунт не создан</label>
        <locationX>1329</locationX>
        <locationY>1576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAccount_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_not_found_screen_message</name>
        <label>Контакт не создан</label>
        <locationX>1332</locationX>
        <locationY>1740</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContact</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Geo</name>
        <label>Ошибка получения геоданных</label>
        <locationX>1313</locationX>
        <locationY>1241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextError_Geo</name>
            <fieldText>&lt;p&gt;Произошла ошибка при определении адреса, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_ConversationData</name>
        <label>Fill data of conversation</label>
        <locationX>884</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_default_to_lead_0</targetReference>
        </connector>
        <fields>
            <name>Fill_ConversationData_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_ConversationData_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactsName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Имя и фамилия контакта</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Lead.LastName</assignToReference>
                        <name>lastName</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_ConversationData_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_ConversationData_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_ConversationData_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Телефон контакта</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+375</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <stringValue>+375</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Lead.Phone</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_ConversationData_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_ConversationData_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_ConversationData_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadSorce</name>
                    <choiceReferences>LeadSorces</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.LeadSource</elementReference>
                    </defaultValue>
                    <fieldText>Источник лида</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_ConversationData_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadStatus</name>
                    <choiceReferences>LeadStatuses</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.Status</elementReference>
                    </defaultValue>
                    <fieldText>Статус лида</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_ConversationData_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_ConversationData_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Address</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Адрес</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_ConversationData_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Минск</stringValue>
                    </defaultValue>
                    <fieldText>Город</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_ConversationData_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_ConversationData_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Beds</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Lead.Beds__c</elementReference>
                    </defaultValue>
                    <fieldText>Количество комнат</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_ConversationData_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Asking_price</name>
                    <dataType>Number</dataType>
                    <fieldText>Запрашиваемая цена</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>property_Description</name>
            <fieldText>Примечание</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Found_contact_screen</name>
        <label>Found contact</label>
        <locationX>668</locationX>
        <locationY>1588</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_right_or_not</targetReference>
        </connector>
        <fields>
            <name>Found_Contact</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Find_a_Contact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Find_a_Contact.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Имя и фамилия контакта</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PhoneFromConfirmationContact</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Find_a_Contact.Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Телефон контакта</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Right_Contact</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Подобрать этот?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_not_created_screen_message_0_0</name>
        <label>Лид не создан</label>
        <locationX>1301</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAccount_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_not_updated_screen_message_0_0_0</name>
        <label>Лид не обновлен</label>
        <locationX>1109</locationX>
        <locationY>927</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAccount_0_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_lead_srcrean</name>
        <label>Перейти к лиду</label>
        <locationX>264</locationX>
        <locationY>1971</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Navigate_to_lead</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>leadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_opportunity</name>
        <label>Navigate to opportunity</label>
        <locationX>420</locationX>
        <locationY>1964</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigate_to_opportunity_record</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>opportunityId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_not_found_screen_message_0_0</name>
        <label>Продажа не создана</label>
        <locationX>577</locationX>
        <locationY>2157</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContact_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Property_not_found_screen_message_0</name>
        <label>Объект недвижимости не создан</label>
        <locationX>858</locationX>
        <locationY>2152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContact_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Lead_exists</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceLeadStatus</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>property</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
