force-app/main/default/flows/Proccess_lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_geo</name>
        <label>Get geo</label>
        <locationX>853</locationX>
        <locationY>2470</locationY>
        <actionName>GeocodingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Property</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Coordinates_not_found_screen_message</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>property.City__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <stringValue>Belarus</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <stringValue>{!property_House}+{!property_street_Type}+{!property_Street_Screen}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GeocodingService</nameSegment>
        <outputParameters>
            <assignToReference>property.Location__Latitude__s</assignToReference>
            <name>lat</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>property.Location__Longitude__s</assignToReference>
            <name>lon</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Fill_lead</name>
        <label>Fill lead</label>
        <locationX>586</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>Lead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Минск</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsFullAdess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Property</name>
        <label>Fill property</label>
        <locationX>853</locationX>
        <locationY>2316</locationY>
        <assignmentItems>
            <assignToReference>property.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Street_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PreMarket</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Street_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Property_OwnerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Asking_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Beds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Beds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.House__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_House</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.StreetType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_street_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Apartment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Apartment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Минск</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_geo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_street_from_address</name>
        <label>Fill street from address</label>
        <locationX>589</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>property_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_LeadData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_street_from_street</name>
        <label>Fill street from street</label>
        <locationX>831</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>property_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Street__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_LeadData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_property_ID</name>
        <label>Populate property ID</label>
        <locationX>730</locationX>
        <locationY>2633</locationY>
        <assignmentItems>
            <assignToReference>propertyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_data_to_lead</name>
        <label>Set data to lead</label>
        <locationX>841</locationX>
        <locationY>1147</locationY>
        <assignmentItems>
            <assignToReference>Lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadSorce</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!property_street_Type} {!property_Street_Screen} {!property_House}-{!property_Apartment}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Beds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Beds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Street_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.House__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_House</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Apartment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Apartment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Asking_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.StreetType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_street_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_exists_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_default_to_lead</name>
        <label>Set default to lead</label>
        <locationX>1078</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>Lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Мой клиент</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.LastName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Company</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Address__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Beds__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+375</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Description</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.StreetType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>улица</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Street__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.House__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Apartment__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Price__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Минск</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_LeadData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_found_contact</name>
        <label>Set found contact</label>
        <locationX>627</locationX>
        <locationY>2211</locationY>
        <assignmentItems>
            <assignToReference>Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_a_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_a_Contact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_data_to_contact</name>
        <label>Set data from lead</label>
        <locationX>1105</locationX>
        <locationY>1688</locationY>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_a_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_id</name>
        <label>Set lead id</label>
        <locationX>983</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>leadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CoiceLeadStatus</name>
        <choiceText>Открыт - Не заключен&lt;p&gt;В работе - Заключен&lt;/p&gt;&lt;p&gt;Закрыт - Заключен&lt;/p&gt;&lt;p&gt;Закрыт - Не заключен&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Открыт - Не заключен</stringValue>
        </value>
    </choices>
    <choices>
        <name>UniqueName</name>
        <choiceText>Открыт - Не заключен</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Открыт - Не заключен</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Address_filled</name>
        <label>Address filled</label>
        <locationX>836</locationX>
        <locationY>1689</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_lead_srcrean</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>property_Street_Screen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>property_Street_Screen</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working - Not contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_lead_data_to_contact</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_right_or_not</name>
        <label>Contact right or not</label>
        <locationX>843</locationX>
        <locationY>2134</locationY>
        <defaultConnector>
            <targetReference>Set_found_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Right</defaultConnectorLabel>
        <rules>
            <name>Wrong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Right_Contact.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_account</targetReference>
            </connector>
            <label>Wrong</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_contact_or_not</name>
        <label>Found contact or not</label>
        <locationX>837</locationX>
        <locationY>1846</locationY>
        <defaultConnector>
            <targetReference>Found_contact_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_a_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_account</targetReference>
            </connector>
            <label>Contact not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsFullAdess</name>
        <label>Is Full Address in Lead</label>
        <locationX>577</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Fill_street_from_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not full</defaultConnectorLabel>
        <rules>
            <name>Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.Street__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Lead.House__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Fill_street_from_street</targetReference>
            </connector>
            <label>Full</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_exists</name>
        <label>Lead exists</label>
        <locationX>874</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Set_default_to_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_lead</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_exists_0</name>
        <label>Lead exists</label>
        <locationX>836</locationX>
        <locationY>1278</locationY>
        <defaultConnector>
            <targetReference>Create_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>true_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_lead</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LeadSorces</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadStatuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StreetTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StreetType__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Обработать лид {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Обработать лид</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_account</name>
        <label>Create account</label>
        <locationX>1101</locationX>
        <locationY>2039</locationY>
        <assignRecordIdToReference>Account2</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Account_not_created_screen_messag</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1101</locationX>
        <locationY>2212</locationY>
        <connector>
            <targetReference>Fill_Property</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Contact_not_found_screen_message</targetReference>
        </faultConnector>
        <inputReference>Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_lead</name>
        <label>Create lead</label>
        <locationX>979</locationX>
        <locationY>1281</locationY>
        <connector>
            <targetReference>Set_lead_id</targetReference>
        </connector>
        <inputReference>Lead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_opportunity</name>
        <label>Create opportunity</label>
        <locationX>599</locationX>
        <locationY>2633</locationY>
        <assignRecordIdToReference>opportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_not_created_screen_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>property.Property_OwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>property_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!property_street_Type} {!property_Street_Screen} {!property_House}-{!property_Apartment}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>property.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Property</name>
        <label>Create Property</label>
        <locationX>853</locationX>
        <locationY>2633</locationY>
        <connector>
            <targetReference>Populate_property_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Property_not_created_screen_message</targetReference>
        </faultConnector>
        <inputReference>property</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_a_Contact</name>
        <label>Find a Contact</label>
        <locationX>1105</locationX>
        <locationY>1837</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_contact_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_lead</name>
        <label>Find lead</label>
        <locationX>718</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>844</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Address_filled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_not_updated_screen_message</targetReference>
        </faultConnector>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Account_not_created_screen_messag</name>
        <label>Аккаунт не создан</label>
        <locationX>1284</locationX>
        <locationY>2044</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAccount_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_not_found_screen_message</name>
        <label>Контакт не создан</label>
        <locationX>1287</locationX>
        <locationY>2208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContact</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Coordinates_not_found_screen_message</name>
        <label>Коррдинаты не найдены</label>
        <locationX>1292</locationX>
        <locationY>2476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Property</targetReference>
        </connector>
        <fields>
            <name>ErrorAccount_0_0_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>wrong_Addrees</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!property_House}+{!property_street_Type}+{!property_Street_Screen}</stringValue>
            </defaultValue>
            <fieldText>Ненайденный адрес</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_description</name>
        <label>Fill description of conversation</label>
        <locationX>838</locationX>
        <locationY>986</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_data_to_lead</targetReference>
        </connector>
        <fields>
            <name>property_Description</name>
            <defaultValue>
                <stringValue>{!Lead.Description}</stringValue>
            </defaultValue>
            <fieldText>Примечание</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_LeadData</name>
        <label>Fill lead data</label>
        <locationX>839</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fill_property_data</targetReference>
        </connector>
        <fields>
            <name>Fill_LeadData_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_LeadData_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactsName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Имя и фамилия контакта</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>Lead.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Lead.LastName</assignToReference>
                        <name>lastName</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_LeadData_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_LeadData_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Телефон контакта</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Lead.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Lead.Phone</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_LeadData_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_LeadData_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadSorce</name>
                    <choiceReferences>LeadSorces</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.LeadSource</elementReference>
                    </defaultValue>
                    <fieldText>Источник лида</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_LeadData_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LeadStatus</name>
                    <choiceReferences>LeadStatuses</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.Status</elementReference>
                    </defaultValue>
                    <fieldText>Статус лида</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_property_data</name>
        <label>Fill property data</label>
        <locationX>839</locationX>
        <locationY>865</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fill_description</targetReference>
        </connector>
        <fields>
            <name>Fill_property_data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_property_data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_street_Type</name>
                    <choiceReferences>StreetTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.StreetType__c</elementReference>
                    </defaultValue>
                    <fieldText>Тип улицы</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>property_Street_Screen</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>property_Street</elementReference>
                    </defaultValue>
                    <fieldText>Улица</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_property_data_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_property_data_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_House</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.House__c</elementReference>
                    </defaultValue>
                    <fieldText>Дом</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_property_data_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Apartment</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Lead.Apartment__c</elementReference>
                    </defaultValue>
                    <fieldText>Кваритира</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_property_data_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_property_data_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Beds</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Lead.Beds__c</elementReference>
                    </defaultValue>
                    <fieldText>Количество комнат</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_property_data_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Asking_price</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Lead.Price__c</elementReference>
                    </defaultValue>
                    <fieldText>Запрашиваемая цена</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Found_contact_screen</name>
        <label>Found contact</label>
        <locationX>623</locationX>
        <locationY>2056</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_right_or_not</targetReference>
        </connector>
        <fields>
            <name>Found_Contact</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Find_a_Contact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Find_a_Contact.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Имя и фамилия контакта</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PhoneFromConfirmationContact</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Find_a_Contact.Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Телефон контакта</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Right_Contact</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Wrong</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Подобрать этот?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_not_updated_screen_message</name>
        <label>Лид не обновлен</label>
        <locationX>1265</locationX>
        <locationY>1536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAccount_0_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании лида, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_lead_srcrean</name>
        <label>Navigate to lead</label>
        <locationX>416</locationX>
        <locationY>2223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Navigate_to_lead</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>leadId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_to_opportunity</name>
        <label>Navigate to opportunity</label>
        <locationX>425</locationX>
        <locationY>2633</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigate_to_opportunity_record</name>
            <extensionName>c:navigateToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>opportunityId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_not_created_screen_message</name>
        <label>Продажа не создана</label>
        <locationX>601</locationX>
        <locationY>2819</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContact_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании объекта недвижимости, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Property_not_created_screen_message</name>
        <label>Объект недвижимости не создан</label>
        <locationX>852</locationX>
        <locationY>2823</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContact_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании объекта недвижимости, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Lead_exists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceLeadStatus</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>property</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>property_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
