force-app/main/default/flows/Web_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_default_to_lead_0</name>
        <label>Set default to lead</label>
        <locationX>879</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!property_street_Type} {!property_Street} {!property_House}-{!property_Apartment}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Beds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Beds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Минск</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.StreetType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_street_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.House__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_House</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Apartment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Apartment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Asking_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Инстаграм</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CoiceLeadStatus</name>
        <choiceText>Открыт - Не заключен&lt;p&gt;В работе - Заключен&lt;/p&gt;&lt;p&gt;Закрыт - Заключен&lt;/p&gt;&lt;p&gt;Закрыт - Не заключен&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Открыт - Не заключен</stringValue>
        </value>
    </choices>
    <choices>
        <name>UniqueName</name>
        <choiceText>Открыт - Не заключен</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Открыт - Не заключен</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>LeadSorces</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadStatuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StreetTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StreetType__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Web Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Web Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_lead</name>
        <label>Create lead</label>
        <locationX>885</locationX>
        <locationY>1062</locationY>
        <connector>
            <targetReference>NotificationScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_not_created_screen_message</targetReference>
        </faultConnector>
        <inputReference>Lead</inputReference>
    </recordCreates>
    <screens>
        <name>Fill_description</name>
        <label>Fill description of conversation</label>
        <locationX>878</locationX>
        <locationY>681</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_default_to_lead_0</targetReference>
        </connector>
        <fields>
            <name>property_Description</name>
            <fieldText>Примечание</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_LeadData</name>
        <label>Fill lead data</label>
        <locationX>882</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fill_property_data</targetReference>
        </connector>
        <fields>
            <name>Fill_LeadData_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_LeadData_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactsName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Имя и фамилия контакта</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Lead.LastName</assignToReference>
                        <name>lastName</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_LeadData_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_LeadData_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Телефон контакта</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+375</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Lead.Phone</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_property_data</name>
        <label>Fill property data</label>
        <locationX>878</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fill_description</targetReference>
        </connector>
        <fields>
            <name>Fill_property_data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_property_data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_street_Type</name>
                    <choiceReferences>StreetTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>улица</stringValue>
                    </defaultValue>
                    <fieldText>Тип улицы</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>property_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Улица</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_property_data_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_property_data_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_House</name>
                    <dataType>String</dataType>
                    <fieldText>Дом</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_property_data_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Apartment</name>
                    <dataType>String</dataType>
                    <fieldText>Кваритира</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_property_data_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_property_data_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Beds</name>
                    <dataType>Number</dataType>
                    <fieldText>Количество комнат</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_property_data_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Asking_price</name>
                    <dataType>Number</dataType>
                    <fieldText>Желаемая цена</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_not_created_screen_message</name>
        <label>Лид не создан</label>
        <locationX>1066</locationX>
        <locationY>1068</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAccount_0_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании лида, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotificationScreen</name>
        <label>NotificationScreen</label>
        <locationX>885</locationX>
        <locationY>1196</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Notification</name>
            <fieldText>&lt;p&gt;{!Lead.LastName}, Татьяна получила Ваше письмо. Скоро она Вам перезвонит!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Fill_LeadData</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceLeadStatus</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>property</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
