force-app/main/default/flows/Web_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_geo</name>
        <label>Get geo</label>
        <locationX>888</locationX>
        <locationY>1936</locationY>
        <actionName>GeocodingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Property</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Coordinates_not_found_screen_message</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>property.City__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <stringValue>Belarus</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <stringValue>{!property_House}+{!property_street_Type}+{!property_Street}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GeocodingService</nameSegment>
        <outputParameters>
            <assignToReference>property.Location__Latitude__s</assignToReference>
            <name>lat</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>property.Location__Longitude__s</assignToReference>
            <name>lon</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Fill_Property</name>
        <label>Fill property</label>
        <locationX>890</locationX>
        <locationY>1796</locationY>
        <assignmentItems>
            <assignToReference>property.Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PreMarket</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Property_OwnerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Asking_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Beds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Beds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.House__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_House</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.StreetType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_street_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.Apartment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Apartment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Минск</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>property.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_geo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_default_to_lead</name>
        <label>Set default to lead</label>
        <locationX>880</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>Lead.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Инстаграм</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working - Not contacted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.LastName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Company</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Address__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Beds__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+375</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Description</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Fill_LeadData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_default_to_lead_0</name>
        <label>Set default to lead</label>
        <locationX>883</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>Lead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!property_street_Type} {!property_Street} {!property_House}-{!property_Apartment}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Beds__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Beds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>property_Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_data_to_contact</name>
        <label>Set data from lead</label>
        <locationX>898</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CoiceLeadStatus</name>
        <choiceText>Открыт - Не заключен&lt;p&gt;В работе - Заключен&lt;/p&gt;&lt;p&gt;Закрыт - Заключен&lt;/p&gt;&lt;p&gt;Закрыт - Не заключен&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Открыт - Не заключен</stringValue>
        </value>
    </choices>
    <choices>
        <name>UniqueName</name>
        <choiceText>Открыт - Не заключен</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Открыт - Не заключен</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Address_filled</name>
        <label>Address filled</label>
        <locationX>889</locationX>
        <locationY>1216</locationY>
        <defaultConnector>
            <targetReference>NotificationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>property_Street</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>property_Street</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_account</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LeadSorces</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadStatuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StreetTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StreetType__c</picklistField>
        <picklistObject>Property__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Web Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Web Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_account</name>
        <label>Create account</label>
        <locationX>899</locationX>
        <locationY>1383</locationY>
        <assignRecordIdToReference>Account2</assignRecordIdToReference>
        <connector>
            <targetReference>Set_lead_data_to_contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Account_not_created_screen_messag</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Lead.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>890</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Fill_Property</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Contact_not_found_screen_message</targetReference>
        </faultConnector>
        <inputReference>Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_lead</name>
        <label>Create lead</label>
        <locationX>885</locationX>
        <locationY>1062</locationY>
        <connector>
            <targetReference>Address_filled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Lead_not_created_screen_message</targetReference>
        </faultConnector>
        <inputReference>Lead</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_opportunity</name>
        <label>Create opportunity</label>
        <locationX>593</locationX>
        <locationY>2070</locationY>
        <assignRecordIdToReference>opportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>NotificationScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_not_created_screen_message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>property.Property_OwnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!property_street_Type} {!property_Street} {!property_House}-{!property_Apartment}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property__c</field>
            <value>
                <elementReference>property.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Property</name>
        <label>Create Property</label>
        <locationX>889</locationX>
        <locationY>2069</locationY>
        <connector>
            <targetReference>Create_opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Property_not_created_screen_message</targetReference>
        </faultConnector>
        <inputReference>property</inputReference>
    </recordCreates>
    <screens>
        <name>Account_not_created_screen_messag</name>
        <label>Аккаунт не создан</label>
        <locationX>1071</locationX>
        <locationY>1361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAccount_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании аккаунта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Contact_not_found_screen_message</name>
        <label>Контакт не создан</label>
        <locationX>1066</locationX>
        <locationY>1653</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContact</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании контакта, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Coordinates_not_found_screen_message</name>
        <label>Коррдинаты не найдены</label>
        <locationX>1065</locationX>
        <locationY>1960</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Property</targetReference>
        </connector>
        <fields>
            <name>ErrorAccount_0_0_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при определении адреса&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>wrong_Addrees</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>{!property_House}+{!property_street_Type}+{!property_Street}</stringValue>
            </defaultValue>
            <fieldText>Ненайденный адрес</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_description</name>
        <label>Fill description of conversation</label>
        <locationX>880</locationX>
        <locationY>766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_default_to_lead_0</targetReference>
        </connector>
        <fields>
            <name>property_Description</name>
            <fieldText>Примечание</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_LeadData</name>
        <label>Fill lead data</label>
        <locationX>879</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fill_property_data</targetReference>
        </connector>
        <fields>
            <name>Fill_LeadData_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_LeadData_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactsName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Имя и фамилия контакта</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Lead.LastName</assignToReference>
                        <name>lastName</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_LeadData_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_LeadData_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Телефон контакта</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>+375</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Lead.Phone</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_property_data</name>
        <label>Fill property data</label>
        <locationX>881</locationX>
        <locationY>645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fill_description</targetReference>
        </connector>
        <fields>
            <name>Fill_property_data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_property_data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_street_Type</name>
                    <choiceReferences>StreetTypes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>улица</stringValue>
                    </defaultValue>
                    <fieldText>Тип улицы</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>property_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Улица</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_property_data_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_property_data_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_House</name>
                    <dataType>String</dataType>
                    <fieldText>Дом</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_property_data_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Apartment</name>
                    <dataType>String</dataType>
                    <fieldText>Кваритира</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fill_property_data_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fill_property_data_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Beds</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Lead.Beds__c</elementReference>
                    </defaultValue>
                    <fieldText>Количество комнат</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fill_property_data_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>property_Asking_price</name>
                    <dataType>Number</dataType>
                    <fieldText>Желаемая цена</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lead_not_created_screen_message</name>
        <label>Лид не создан</label>
        <locationX>1066</locationX>
        <locationY>1068</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorAccount_0_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании лида, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotificationScreen</name>
        <label>NotificationScreen</label>
        <locationX>592</locationX>
        <locationY>1467</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Notification</name>
            <fieldText>&lt;p&gt;Татьяна получила Ваше письмо. Скоро она Вам перезвонит!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_not_created_screen_message</name>
        <label>Продажа не создана</label>
        <locationX>592</locationX>
        <locationY>2238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContact_0_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании объекта недвижимости, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Property_not_created_screen_message</name>
        <label>Объект недвижимости не создан</label>
        <locationX>892</locationX>
        <locationY>2238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContact_0</name>
            <fieldText>&lt;p&gt;Произошла ошибка при создании объекта недвижимости, попробуйте еще раз&lt;/p&gt;&lt;p&gt;Ошибка: &lt;span style=&quot;color: rgb(208, 45, 45);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>756</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Set_default_to_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChoiceLeadStatus</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contacts_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>property</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Property__c</objectType>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
